.popup__image-container {
    position: absolute;
    display: flex;
    margin: 0;
    max-width: 75vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    z-index: 3;
}

